@model IEnumerable<ProgressTracker.ViewModels.DailyRecord.DailyRecordViewModel>

@{
    ViewData["Title"] = "Daily Record List";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="row">
    <p class="text-danger">@TempData["Message"]</p>
</div>

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DailyRecordModel.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DailyRecordModel.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DailyRecordModel.Target)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DailyRecordModel.Break)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Learned)
        </th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DailyRecordModel.Id)
            </td>
            <td>
                @item.DailyRecordModel.Date.ToString("yyyy-MM-dd")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DailyRecordModel.Target)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DailyRecordModel.Break)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Learned)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DailyRecordModel.Id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.DailyRecordModel.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>